<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://inbox-america-data.com/img/favicon.ico">

    <title>INBOX AMERICA | Predictive Recommender</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/album.css')}}" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Project Crystal Ball | Inbox America.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow us on Twitter</a></li>
                <li><a href="#" class="text-white">Like us on Facebook</a></li>
                <li><a href="#" class="text-white">Email us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
      <div class="pr-1"><img alt="" height="20" width="20"  src="https://inbox-america-data.com/img/icon-crystal-ball.png" style="float:left">
            </div>
      <strong>Crystal Ball</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </heade r>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Recommendation Engine</h1>
          <p class="lead text-muted">This webapp displays for a given customer its past purchase and predicts the most probable future purchases thanks to  business rules and machine learning.</p>




     <!-- <div class="col">
          <form class="form-inline">
            <div class="form-group">
              <label for="inputPassword2" class="sr-only">Enter Customer ID #</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Enter Customer ID #">
            </div>
          </form>
        </div> -->


        <div class="col">
            <div class="form-group">
            <label>Enter Customer ID </label>
            <form action ="/suggestion">
             <form method="POST">
                <input type = "int" name="query", placeholder="Client ID #">
              

                <input type="submit" >
              </form>
          </div>

        <div class="col">
            <div class="form-group">
            <label>View Random Customer ID </label>
            <form action ="/random_client">
             <form method="POST">
              <!--   <input type = "int" name="query", placeholder="Client ID #"> -->
              

                <input type="submit" >
              </form>
          </div>



<!-- <script type="text/javascript">
  document.getElementById('text').value = "<?php echo $_GET['text'];?>";
</script> -->

     <!--   <div class="col">
         <div class="form-group">
          <button type="submit" class="btn btn-primary">Show product history & recommendations</button>
        </div>
         </div> -->

     </div>
 </div>
      </section>

 

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Copyright Inbox America Consulting Service | 2018 </p>
        <p>Visit our website at :<a href="https://www.inbox-america.com"> inbox-america.com</a>.</p>
      </div>
    </footer>

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>

   </body>
</html>